.main {
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    width: calc(100vw - 300px);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    button {
        border: 1px solid hotpink;
        width: 200px;
        margin: 20px;
        color: hotpink;
        font-size: larger;
        padding: 10px 20px;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: hotpink;
            color: white;
        }
    }
    img {
        width: 50%;
    }
    
}